@import url(styles.css);

/* فونت‌های Anjoman */

@font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  
  /* فونت‌های اضافه (وزن‌های سفارشی - مقدارهای غیر استاندارد) */
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-UltraBold.woff") format("woff");
    font-weight: 950;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-Heavy.woff") format("woff");
    font-weight: 1000;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anjoman";
    src: url("https://zaadmehr.ir/fonts/anjoman/woff/Anjoman-FaNum-SuperHeavy.woff") format("woff");
    font-weight: 1050;
    font-style: normal;
  }
  
  /* فونت‌های Ravi */
  
  @font-face {
    font-family: "Ravi";
    src: url("https://zaadmehr.ir/fonts/ravi/Ravi-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ravi";
    src: url("https://zaadmehr.ir/fonts/ravi/Ravi-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ravi";
    src: url("https://zaadmehr.ir/fonts/ravi/Ravi-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ravi";
    src: url("https://zaadmehr.ir/fonts/ravi/Ravi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ravi";
    src: url("https://zaadmehr.ir/fonts/ravi/Ravi-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ravi";
    src: url("https://zaadmehr.ir/fonts/ravi/Ravi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Ravi";
    src: url("https://zaadmehr.ir/fonts/ravi/Ravi-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }

  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Ravi;
    direction: rtl;
    text-align: right;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Anjoman;
  }
 
  /* Course info */

  .course_info {
    padding: 24px 40px 24px 24px;
  }
  
  .course_info--line {
    right: 24px;
  }