:root {
  --primary-color: #4a1e7f;
  --secondary-color: #ffd700;
  --text-light: #ffffff;
  --text-dark: #333333;
  --main-width: 1440px;
  --max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  overflow: hidden visible;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

a {
  text-decoration: none;
}

/* Animation */

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(193,244,246,0);
  }
}

/* Language selector */

#lang-selector {
  position: fixed;
  left: 4px;
  top: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(2px);
  overflow: hidden;
  z-index: 999;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  a {
    display: block;
    font-size: 12px;
    color: #1a1a1a;
    padding: 8px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    &:hover {
      background-color: var(--secondary-color);
    }
    &.active {
      background-color: var(--secondary-color);
    }
  }
}

.main-btn {
  font-weight: 700;
  display: block;
  color: #382352;
  text-align: center;
  cursor: pointer;
  background: #ffb800;
}

/* Logo area */

.logo-area {
  display: none;
  height: 96px;
  background-color: #ffffff;
}

.top-logo {
  height: 64px;
}

/* Header */

.main-header {
  position: relative;
  height: 400px;
  text-align: center;
  color: var(--text-light);
  background-color: var(--primary-color);
  padding: 80px 80px 0 80px;
  margin: 0 auto;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header-title img {
  width: 60.85923767089844px;
  height: 57.442508697509766px;
}

/* Header effects */

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.blur-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ffffff80;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  filter: blur(114px);
  -webkit-filter: blur(114px);
}

.left-circle {
  top: -32px;
  left: -32px;
}

.right-circle {
  top: -32px;
  right: -32px;
}

.center-circle {
  position: absolute;
  top: 0;
  left: 452px;
  width: 536px;
  height: 323px;
  background-color: #382352;
  filter: blur(148px);
  -webkit-filter: blur(148px);
}

/* Hero banner */

.hero-banner {
  width: var(--main-width);
  max-width: var(--max-width);
  padding: 0 80px;
  margin: -192px auto 0 auto;
}

.banner-content {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #fcf0c3;
  padding: 16px;
  margin: 0 auto;
}

.video-poster {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* Poster hidden when video playing */

.banner-content:has(.playing) .video-poster {
  display: none;
}

.intro-video {
  width: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 56px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  box-shadow: rgba(255, 255, 255, 0.698) 0px 0px 0px 0px;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
  -webkit-animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
}

.play-icon {
  font-size: 20px;
}

.pause-icon {
  display: none;
  width: 16px;
}

video.playing + .play-button .play-icon {
  display: none;
}

video.playing + .play-button .pause-icon {
  display: block;
}

/* Main content */

main {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: var(--main-width);
  max-width: var(--max-width);
  padding: 56px 80px 96px 80px;
  margin: 0 auto;
}

/* Course info */

.course_info {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  background-color: #3823520f;
  padding: 24px 24px 24px 40px;
}

.course_info--main {
  width: 900px;
}

.course_info--title {
  font-weight: 800;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0px;
  margin-bottom: 8px;
}

.course_info--desc {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.course_info--logo-container {
  position: static;
  width: 167px;
  height: 72px;
  margin-top: 14px;
}

.course_info--logo {
  position: absolute;
  right: 0;
  bottom: 0;
}

.course_info--logo-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}

.course_info--line {
  position: absolute;
  top: 50%;
  left: 24px;
  width: 2px;
  height: calc(100% - 48px);
  background-color: var(--secondary-color);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


/* CTA box in course info */

.course_cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 308px;
  height: fit-content;
  background: white;
  padding: 26px 24px;
}

.course_cta--title {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.course_cta--btn {
  font-size: 20px;
  line-height: 26px;
  padding: 20px;
}

/* Instructors */

.instructors {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.instructor-title {
  font-weight: 800;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: center;
}

.instructors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
  gap: 16px;
}

.instructor-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 146px;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  padding: 10px;
}

.instructor-top {
  display: flex;
  gap: 12px;
}

.instructor-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.instructor-pic {
  width: 92px;
  height: 92px;
}

.instructor-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1a1a1a;
}

.instructor-expertise {
  display: -webkit-box;
  font-size: 14px;
  line-height: 21.7px;
  letter-spacing: 0px;
  color: #333333;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.instructor-medical_num {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #666666;
}

.instructor-experiences {
  display: -webkit-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 21.7px;
  letter-spacing: 0px;
  color: #333333;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Chapters */

.course-chapters {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.chapters-title {
  font-weight: 800;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0px;
}

.chapters-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chapter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f2f2f2;
  padding: 16px;
}

.chapter.active {
  background-color: #3823521a;
}

.chapter-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--text-light);
  border: none;
  cursor: pointer;
}

.chapter.active .chapter-toggle {
  background-color: transparent;
}

.chapter-toggle-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #382352;
  pointer-events: none;
}

.chapter-toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #feca0a;
  pointer-events: none;
}

.chapter.active .chapter-toggle-icon {
  background-color: #feca0a;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

.chapter-toggle-icon svg {
  width: 24px;
  height: 24px;
  color: #382352;
}

.chapter-content {
  display: none;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #333333;
  padding: 10px;
  background-color: #fafafa;
}

.chapter.active .chapter-content {
  display: block;
}

/* CTA bar */

.cta_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3823520f;
  padding: 24px;
}

.cta_bar--title {
  max-width: 70%;
  font-weight: 800;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0px;
  color: #4d3966;
}

.cta_bar--btn {
  width: 260px;
  max-width: 30%;
  font-size: 18px;
  line-height: 24px;
  padding: 16px;
}

@media (max-width: 1040px) {
  .course_info--main {
    width: 70%;
  }

  .course_cta {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .course_info--main {
    width: 60%;
  }

  .course_cta {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .logo-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Header  */

  .main-header {
    height: 232px;
    padding: 24px 16px;
  }

  .header-title img {
    display: none;
  }

  h1 {
    font-size: 24px;
    line-height: 42.67px;
  }

  .header-content p {
    font-size: 16px;
    line-height: 24.8px;
    margin-top: 13px;
  }

  .blur-circle, .center-circle {
    display: none;
  }

  /* Hero banner */

  .hero-banner {
    padding: 0 16px;
    margin-top: -95px;
  }

  .banner-content {
    padding: 0;
  }

  .video-poster {
    width: 100%;
    height: 100%;
  }

  .play-button {
    width: 40px;
    height: 40px;
  }

  .play-icon {
    font-size: 14px;
    height: 14px;
  }

  .pause-icon {
    width: 12px;
  }

  /* Main content */

  main {
    padding: 40px 16px 56px 16px;
  }

  /* Course */

  .course_info {
    flex-direction: column-reverse;
    padding: 4px;
  }

  .course_info--main,
  .course_cta {
    width: 100%;
  }

  .course_info--main {
    padding: 0 20px 20px 20px;
  }

  .course_info--logo-container,
  .course_info--line {
    display: none;
  }

  /* Instructors */

  .instructors-grid {
    grid-template-columns: 1fr;
  }

  .instructor-pic {
    width: 80px;
    height: 80px;
  }

  .instructor-name {
    font-size: 14px;
    line-height: 21.7px;
  }

  /* Chapters */

  .chapter-toggle-text {
    font-size: 18px;
    line-height: 24px;
  }

  /* CTA bar */

  .cta_bar {
    flex-direction: column;
    gap: 24px;
  }

  .cta_bar--title,
  .cta_bar--btn {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .cta_bar--title {
    width: 80%;
    font-size: 18px;
    line-height: 32px;
  }
}
